@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300&display=swap');


header{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    background-color: rgb(240, 81, 23);
}

.logo{
    color: whitesmoke;
    font-size: 25px;
}

.nav a{

    display: inline-block;
    color: antiquewhite;
    text-decoration: none;
    font-size: 22px;
    padding-left: 20px;
    text-transform: uppercase;
    width: 100px;
    font-family: 'Source Sans Pro', sans-serif;

}

.nav a:hover{

    border-bottom: 2px solid whitesmoke;
}




.section{
    display: flex;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;

}
.main .form input{
    
    width: 90%;
    height: 20px;
    color: black;
}

.main .form .details{
    
    color: rgb(15, 14, 14);
    font-weight: 700;
}

.main .form .details::after{

    content: "*";
    display: inline-block;
    color:  rgb(240, 81, 23);
}


.location h4{
    margin-left: 50px;
}

.location i{

    margin-right: 20px;
}
.location h1{
        
    font-size: 18px;
    line-height: 20px;
    
}
.location{

    height: 50%;
    width:50%;
    margin-top: 50px;
    padding-left: 50px;
    line-height: 1px;
    font-size: 16px;
    letter-spacing: .5px;
    margin-bottom: 50px;
   
}


.contact-img{
   
    width: 70%;
    height: 50vh;
    object-fit: cover;
    
}




.cttn{
    
    border-bottom: 2px solid  rgb(240, 81, 23);
    padding-bottom: 5px;
    margin-top: 50px;
    font-size: 20px;
    letter-spacing: .5px;
}


.footer{

    font-family: 'Uchen', serif;
    color: antiquewhite;
    padding: 10px;
    background-color: rgb(240, 81, 23);
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: .5px;
    font-size: 14px;

}

.social-media{

    display: flex;
    justify-content: space-evenly;
    width: 400px;
    text-align: center;
    font-size:18px;
    line-height: 10px;

}


.lo{
    display: flex;
    color:  rgb(51, 24, 13);

}



font-family: 'Quicksand', sans-serif;

font-family: 'Uchen', serif;
